

<div class="row gy-5 g-xl-10">
    <div class="col-xxl-3">
        <div class="card mb-5 mb-xl-8">
            <!--begin::Card body-->
            <div class="card-body">
                <!--begin::Summary-->
                <!--begin::User Info-->
                <div class="d-flex flex-center flex-column py-5">
                    <!--begin::Avatar-->
                    <div class="symbol symbol-100px symbol-circle mb-7">
                        <img src="~/assets/media/avatars/300-6.jpg" alt="image">
                    </div>
                    <!--end::Avatar-->
                    <!--begin::Name-->
                    <a href="#" class="fs-3 text-gray-800 text-hover-primary fw-bolder mb-3">Emma Smith</a>
                    <!--end::Name-->
                    <!--begin::Position-->
                    <div class="mb-5">
                        <!--begin::Badge-->
                        <div class="badge badge-lg badge-light-primary d-inline">Patient</div>
                        <!--begin::Badge-->
                    </div>
                    <div class="mb-3 w-100">
                        <!--begin::Header-->
                        <a class="btn btn-sm btn-light-success me-1 w-100">Send Bulk SMS
                        </a>
                    </div>
                    <div class="mb-3 w-100">
                        <!--begin::Header-->
                        <a  class="btn btn-sm btn-light-primary me-1 w-100">
                            Send Email Activation Link
                        </a>
                    </div>
                    <!--end::Position-->

                </div>
                <!--end::User Info-->
                <!--end::Summary-->
                <!--begin::Details toggle-->
                <div class="d-flex flex-stack fs-4 py-3">
                    <div class="fw-bolder rotate collapsible active" data-bs-toggle="collapse" href="#kt_user_view_details" role="button" aria-expanded="true" aria-controls="kt_user_view_details">
                        Details
                        <span class="ms-2 rotate-180">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                            <span class="svg-icon svg-icon-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor"></path>
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                    </div>
                  
                </div>
                <!--end::Details toggle-->
                <div class="separator"></div>
                <!--begin::Details content-->
                <div id="kt_user_view_details" class="collapse show" style="">
                    <div class="pb-5 fs-6">
                        <div class="fw-bolder mt-5">Email</div>
                        <div class="text-gray-600">
                            <a href="#" class="text-gray-600 text-hover-primary">emma@gmail.com</a>
                        </div>
                        <!--begin::Details item-->
                        <!--begin::Details item-->
                        <div class="fw-bolder mt-5">Address 1</div>
                        <div class="text-gray-600">
                            101 Collin Street
                        </div>

                        <div class="fw-bolder mt-5">Address 2</div>
                        <div class="text-gray-600"></div>

                        <div class="fw-bolder mt-5">City</div>
                        <div class="text-gray-600">Melbourne</div>

                        <div class="fw-bolder mt-5">State</div>
                        <div class="text-gray-600">3000 VIC</div>

                        <div class="fw-bolder mt-5">Phone</div>
                        <div class="text-gray-600">(234) 234-2342</div>
                        <!--begin::Details item-->
                    </div>
                </div>
                <!--end::Details content-->
            </div>
            <!--end::Card body-->
        </div>

    </div>
    <div class="col-xxl-9">
        <div class="card mb-5 mb-xl-8">

            <!--begin::Header-->
            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-column">

                    <span class="card-label  fs-3 mb-1">
                        Requisitions Table
                    </span>
                    @*<span class="text-muted mt-1 fw-bold fs-7">Over 500 new products</span>*@
                </h3>
                <div class="card-toolbar">
                <a type="button" class="btn btn-sm btn-light-danger me-1">
                    New Requisitions <span class="fa fa-plus"></span>
                </a>
                    <a class="btn btn-sm btn-light-primary me-1">
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                        <span class="svg-icon svg-icon-primary ">
                            <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/General/Search.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                    <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
                                </g>
                            </svg><!--end::Svg Icon-->
                        </span>
                        <!--end::Svg Icon-->Search
                    </a>
                    <a class="btn btn-sm btn-light-primary me-1">Export</a>
                </div>
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body py-3">
                <!--begin::Table container-->
                <div class="table-responsive">
                    <!--begin::Table-->
                    <table class="table align-middle gs-0 gy-4">
                        <!--begin::Table head-->
                        <thead>
                            <tr class=" text-muted bg-light">
                                <th class="ps-4 rounded-start">
                                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                                        <input class="form-check-input" type="checkbox" value="1" data-kt-check="true" data-kt-check-target=".widget-9-check">
                                    </div>
                                </th>
                                <th class="">Order #</th>
                                <th class="">Accession #</th>
                                <th class="">Date of Collection</th>
                                <th class="">Req-Type</th>
                                <th class="">Status</th>
                                <th class="">SMS Status</th>
                                <th class="">Insurance Provider</th>
                                <th class="">Physician Name</th>
                                <th class="">Facility</th>
                                <th class="rounded-end">View</th>
                            </tr>
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody>


                            <tr>
                                <td class="text-end">
                                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                                        <input class="form-check-input widget-9-check" type="checkbox" value="1">
                                    </div>
                                </td>
                                <td>
                                    <a class="text-dark  text-hover-primary d-block mb-1 fs-6">ASD-1234333</a>
                                </td>
                                <td>
                                    <a class="text-dark  text-hover-primary d-block mb-1 fs-6">D2131222</a>
                                </td>
                                <td>
                                    <a class="text-dark  text-hover-primary d-block mb-1 fs-6">05/09/2021</a>
                                </td>
                                <td>
                                    <a class="text-dark  text-hover-primary d-block mb-1 fs-6">Blood</a>
                                </td>
                                <td>
                                    <span class="badge py-3 px-4 fs-7 badge-light-warning">
                                        Detected
                                    </span>
                                </td>
                                <td>
                                    <span class="badge py-3 px-4 fs-7 badge-light-success">
                                        Sent
                                    </span>
                                </td>
                                <td>
                                    <a class="text-dark  text-hover-primary d-block mb-1 fs-6"> </a>
                                </td>
                                <td>
                                    <a class="text-dark  text-hover-primary d-block mb-1 fs-6">Dr. Stephen</a>
                                </td>
                                <td>
                                    <a class="text-dark  text-hover-primary d-block mb-1 fs-6">John Brix. Faciity</a>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-light-primary me-1" href="~/Patient/PatientProfile">View</a>
                                </td>

                            </tr>
                            <tr>
                                <td class="text-end">
                                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                                        <input class="form-check-input widget-9-check" type="checkbox" value="1">
                                    </div>
                                </td>
                                <td>
                                    <a class="text-dark  text-hover-primary d-block mb-1 fs-6">ASD-1234678</a>
                                </td>
                                <td>
                                    <a class="text-dark  text-hover-primary d-block mb-1 fs-6">D21311439</a>
                                </td>
                                <td>
                                    <a class="text-dark  text-hover-primary d-block mb-1 fs-6">05/29/2021</a>
                                </td>
                                <td>
                                    <a class="text-dark  text-hover-primary d-block mb-1 fs-6">Infectious Desease</a>
                                </td>
                                <td>
                                    <span class="badge py-3 px-4 fs-7 badge-light-primary">
                                        Not-Detected
                                    </span>
                                </td>
                                <td>
                                    <span class="badge py-3 px-4 fs-7 badge-light-success">
                                        Sent
                                    </span>
                                </td>
                                <td>
                                    <a class="text-dark  text-hover-primary d-block mb-1 fs-6"> </a>
                                </td>
                                <td>
                                    <a class="text-dark  text-hover-primary d-block mb-1 fs-6">Dr. Edward kale</a>
                                </td>
                                <td>
                                    <a class="text-dark  text-hover-primary d-block mb-1 fs-6">John Brix. Faciity</a>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-light-primary me-1" href="~/Patient/PatientProfile">View</a>
                                </td>

                            </tr>

                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Table container-->
            </div>
            <!--begin::Body-->
        </div>
    </div>
</div>



